<html>
    <head>
        <title>Help page 2</title>
        <meta charset="utf-8" />
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>

        {{> footer}}
    </body>
</html>